.footerMainDiv {
  background-color: #155b7f;
  min-height: 350px;
  display: flex;
  color: cornsilk;
  line-height: 0.6;
}
.footerMainDiv div {
  padding-left: 50px;
  padding-top: 40px;
}
.footerMainDiv img {
  padding-bottom: 20px;
}

.footerDiv2 H6 {
  padding-bottom: 15px;
  text-decoration: underline;
}
.footerDiv3 h6 {
  padding-bottom: 15px;
  text-decoration: underline;
}
@media only screen and (max-width: 800px) {
  .footerMainDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .footerMainDiv div {
    padding-left: 0;
  }
}
.iconCredits {
  padding-left: 0px !important;
  line-height: 1;
}
.chat-bot{
  position: fixed;
  bottom: 20%;
  right: 50px;
  z-index: 5;
  width: 600; /* Adjust as needed */
  height: 600;
  opacity: 0;
  animation: fadeIn 10s forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; } /* Invisible for 10s */
  100% { opacity: 1; } /* Visible after 10s */
}
